@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

#site-title {
    font-weight: bold;
}

.main-nav {
    z-index: 10;
    position: fixed;
    padding: 0.8rem;
    right: 0;
    top: 0;
    background-color:cornsilk;
}

.text {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-left: 0.3rem;
}

.text:visited {
    color: rgb(34, 31, 31);
}

.open-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 45rem;
}

.wrap {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
}

.wrap.visible {
    transform: translateX(0%);
}

.wrap-black {
    position: fixed;
    background-color: rgb(228, 190, 95);
    width: 25%;
    max-width: 30rem;
    transition-delay: 0.2s;
}

.wrap-white {
    background-color: cornsilk;
    width: 95%;
    padding: 2rem;
    position: relative;
}

.close-btn {
    opacity: 0.4;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
}

.close-btn i {
    position: absolute;
    left: 20rem;
    top: 0.5rem;
}

.side-bar-list {
    width: 12rem;
    margin-left: 1.5rem;
    list-style-type: none;
}
.side-bar-list li {
    margin: 1rem 0;
}
.side-bar-list li a, .main-nav-list li a {
    color: rgb(34, 31, 31);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
}

.main-nav-list li {
    display: inline;
    margin-right: 1rem;
}



/* code for the "personal website": */

.my-divs {
    height: 100vh;
    overflow: hidden;
}

#btn1, #btn2, #btn3, #btn4 {
    visibility: hidden;
    position: absolute;
}

.arrow-down::after {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    margin: auto;
    bottom: 5%;
    left: 50%;
    border-right: 0.2rem solid rgb(255, 255, 255);
    border-bottom: 0.2rem solid rgb(255, 255, 255);
    transform: rotate(45deg);
    cursor: pointer;
}
.arrow-up::after {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    margin: auto;
    bottom: 5%;
    left: 50%;
    border-right: 0.2rem solid rgb(255, 255, 255);
    border-bottom: 0.2rem solid rgb(255, 255, 255);
    transform: rotate(225deg);
    cursor: pointer;
}

#div1 {
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:justify;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

#div1 h1 {
    margin: 1.5rem;
    color: white;
/*    text-shadow: 0.16rem 0.16rem 0.3rem rgb(0,0,0,1);  */
    font-size: 1.8rem;
}

#div1 i {
    font-size: 1.5rem;
    margin: 1rem;
    color: white;
/*    text-shadow: 0.16rem 0.16rem 0.3rem rgb(0,0,0,1);  */
}
#div1 p {
    color: white;
/*    text-shadow: 0.16rem 0.16rem 0.3rem rgb(0,0,0,1);  */
    line-height: 1.5;
    letter-spacing: 0.001rem;
    font-size: 1.5rem;
}

.img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-div div {
    text-align: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: rgb(228, 190, 95);
}

.img-div div img {
    height: 13rem;
    border-radius: 50%;
}

#div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("img/computer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

#div2 div {
    background-color: rgba(63, 63, 63, 0.5);
    height: 100vh;
    width: 100vw;
    padding-left: 15%;
    padding-right: 15%;
}

#div2 div img {
    height: 9rem;
    width: 9rem;
    margin-top: 10%;
}

#div2 div h1 {
    color: white;
    margin: 1.8rem auto 1.8rem;
}

#div2 div p {
    color: white;
    line-height: 2;
    letter-spacing: 0.001rem;
    font-size: 1.5rem;
}

#div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    text-align: center;
    position: relative;
    padding: 0 10% 0;
}

#skill_title {
    width: 100%;
    padding: 3rem;
}

.skills {
    background-color: rgb(153, 116, 21);
    border: 0.08rem solid black;
    width: 30%;
    margin: 0.3rem 0.3rem 1.2rem;
    padding: 25px;
    height: auto;
    display: inline-block;
}

.skills img {
    width: 50%;
    height: auto;
}

.skills-wrap {
    display: inline;
}

#skill_title h1, .skills h3, .skills p {
    color: white;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(26, 25, 25, 0.5);
}

.skills h3, .skills p {
    margin-top: 1rem;
}

#div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("img/computer2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#div4 h1, #div4 p {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(3,3,3,1);
    margin: 1rem;
}

#div4 p {
    font-size: 1.5rem;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(90, 90, 90, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

form {
    padding: 1rem;
}

form input, form textarea, button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

form input:focus {
    outline: none;
}

form textarea {
    font-family: inherit;
    font-size: 1.2rem;
}

form textarea:focus {
    outline: none;
}

form button {
    border: none;
    padding: 0.8rem;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-top: 0.8rem;
    width: 25%;
    transition: background-color 0.2s ease-in;
}

form button:hover {
    background-color:  rgb(58,57,57);
    color: white;
}




@media(max-width: 600px) {
    /* .arrow-down::after {
        top: 210%;
    } */
    .main-nav {
        display: none;
    }
    #div1 {
        height: 160vh;
    }
    #div1 h1 {
        font-size: 1.5rem;
        margin: 5px auto;
    }
    #div1 i {
        font-size: 1.3rem;
    }
    #div1 p {
        font-size: 1.2rem;
        line-height: 1.1;
    }
    div#arrow1 {
        bottom: -20%;
    }
    #div2 {
        height: 100vh;
    }
    #div2 div h1 {
        font-size: 1.5rem;
    }
    #div2 div p {
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .skills {
        width: 80vw;
    }
    .skills-wrap {
        overflow: auto;
    }
    #div4 {
        padding-top: 5px;
    }
    form textarea {
        height: 7rem;
    }
    /* #arrow4 {
        top: 95%;
    } */
}

@media(max-width: 450px) {
    p {
        font-size: 0.7rem;
        line-height: 1;
    }
}
