body {
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

h1, p {
    text-align: center;
}

.my-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(136, 98, 71);
}
form {
    background: rgb(247, 224, 207);
    padding: 30px;
    border: white 1px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 20px;
    width: 25%;
    height: 65%;
}

input {
    font-size: 1em;
    padding: 0.4rem;
    margin: 7px auto;
    border: grey solid 2px;
    border-radius: 3px;
    width: 95%;
    height: 5%;
}

#signUp-btn {
    display: block;
    font-size: 0.9rem;
    padding: 0.6rem;
    width: 40%;
    margin: 10px auto;
    background: rgb(32, 173, 115);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#signUp-btn:hover {
    background: rgb(37, 211, 138);
    color: black;
    text-decoration: none;
}

div#date-picker {
    margin-top: 10px;
}

label{
    text-align: center;
}

#retype {
    margin-bottom: 20px;
}
