@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
* {
    font-family: 'Nixie One', cursive;
    font-size: small;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(196, 155, 101);
}
h1 {
    font-size:x-large;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 2rem;
    border: 1rem burlywood inset;
}

#display {
    height: 5rem;
    width: 15rem;
    color: white;
    background-color: black;
    font-size: larger;
    font-weight: bolder;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 10rem;
    text-align: center;
    margin: 0.2rem 1.5rem;
}
#buttons {
    margin: 0.7rem;
}
#plus {
    background-color: rgb(211, 162, 98);
}
#minus {
    background-color: rgb(214, 190, 157);
}
#multiply {
    background-color: rgb(161, 96, 10);
}
#divide {
    background-color: rgb(211, 130, 25);
}
#reset {
    background-color: darkkhaki;
}

.footer, .footer a {
    color: rgb(161, 96, 10);
    font-weight: bolder;
}
.footer a:visited {
    color:rgb(211, 162, 98);
}
.footer a:hover {
    color: gold;
}